@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;



* {
    font-family: "poppins", sans-serif, "Segoe UI", "Roboto", "Oxygen",;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}